@charset "UTF-8";

.fontColorWarning{
	color: #D88E00;
}

.fontColorApproved{
	color: #148F00;
}

.fontColorRejected{
	color: #FF0909;
}

.login-page{
	background: url(assets/images/login-background.jpeg) no-repeat center center fixed; 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
}